

.header_languageItem {
    width: 40px;
    height: 40px;
    border: 1px solid var(--primary-light);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
}


.header_titleItem {
    font-size: 20px;
    font-weight: 600;
}


.header_userItem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light);
}